body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background:inherit

}

*{
  font-family: 'Kalam', cursive;
}

html {
  height: 100%;
  /* background-image: linear-gradient(180deg,#2B2D42, #8D99AE); */
  background-image: url('../public/main-background.png');
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-attachment: fixed;
max-width: 100%;
overflow-x: hidden;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-text{
  display: inline-block;  
  margin: 2px;
  width: 60%;
  font-size: 250%;
}
#main-text-div{
  width: 100%;
  text-align: center;
}
#landing-heading{
  text-align: center;
  margin: 14% 0% 1% ;
  font-size: 650%
}

#category-heading {
  text-align: center;
  margin: 15% 2% 2% 0%;
  font-size: 700%;
}
#landing-page-button:hover, #reset-btn:hover, #start-game-btn:hover {
background-color:#a6f25a;
}

#landing-page-button, #reset-btn, #start-game-btn {
  border-radius: 20%
}

#start-game-btn{
font-size: 160%;
margin:0% 1% 0%
}
#reset-btn{
  font-size: 160%;
  margin:0% 1% 0%
}

#landing-page-button {
  font-size: 250%;
}
#category-title {
  border-radius: 20%;
  background-image: url('../public/sample-cat-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight:bold;
  height:25vh;
  margin:10% 0% 10%;
  font-size: 70%;
}

#label1, #label2, #label3, #label4, #label5, #label6, #label7, #label8, #label9, #label10, #label11, #label12 {
  color:black;
  font-size: 160%;
  margin-top: 2%;
  font-weight: normal;
}

#landing-page-div, #start-btn-div{
  text-align: center;
  margin-top: 3%
}


#column1 {

  font-weight: bold;
}

#selected-categories-column {
  font-weight: bold;


}

#column2{

  font-weight: bold;
}

#game-layout{
  font-size:200%;
  position: relative;
}

#score-container{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 17%;
  margin-bottom:3%;

}

#space-holder{
  max-width: 10%;
}

li{
  list-style-image: url('../public/li-tag-img-final.png');

}

ul{
  border-color: #ca788e;
  border-style: dashed;
  font-size: 160%;
}